/**
    Name: Kasonde Besa
    Script: styles.css
    Description: Styling for simple WebApp of Tic-Tac-Toe
    Date: October 19th, 2023
**/

:root {
    /* Shade of winning cells when set of three is formed on board*/
    --winnerCells: #8a2be2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: darkslategray;
    font-family: "Audiowide", sans-serif;
    color: greenyellow;
}

.container {
    padding: 40px;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
}

.gameBoard {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    margin-top: 30px;
}

.cell {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: greenyellow;
    border: solid 2.5px;
    border-color: greenyellow;
    font-size: 90px;
}

button {
    padding: 5px 15px;
    background-color: greenyellow;
    color: darkslategrey;
    font-weight: 800;
    border-radius: 25%;
    transition: 200ms transform;
}

button:hover {
    cursor: pointer;
    transform: translateY(3px);
}